<!-- <main class="container">
  <article *ngIf="!showChat">
    <header>Who Are You</header>
    <label for="yourname">
      Your name
      <input type="text" id="yourname" name="yourname" placeholder="Your name" [(ngModel)]="userName">
    </label>
    <footer>
      <button (click)="onStart()" role="button">Start messaging</button>
    </footer>
  </article>
</main>

<main class="container" *ngIf="showChat">
  <article *ngFor="let msg of chats.messages">
    <header>{{msg.userName}}  
    </header>
    <p>{{msg.message}}</p>
    <a href="javascript:void(0)" (click)="onDelete(msg._id)">Delete</a>
  </article>

  <article [attr.aria-busy]="chats.loading">
    <div class="grid">
      <label for="message">
        <input type="text" id="message" name="message" [(ngModel)]="message" placeholder="Type a message">
      </label>
      <button type="submit" (click)="onSend()">Submit</button>
    </div>
  </article>

</main> -->

<router-outlet></router-outlet>