<div class="container p-3 shadow rounded mt-3">
  <div class="card my-2" *ngFor="let m of responses; let l = last">
    <div class="card-body">
      <pre>{{m.message}}</pre>
      <div *ngIf="m.buttons?.length">
        <button class="btn btn-primary me-3" *ngFor="let b of m.buttons" (click)="send(b.IntentValue)"
          [disabled]="!l">{{b.IntentValue}}</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <!-- <label class="form-label">User Role</label>
          <input type="text" class="form-control" [(ngModel)]="userRole"> -->
          <label class="form-label">User Role</label>
          <select [(ngModel)]="userRole" class="form-control">
            <option value="Admin">Admin</option>
            <option value="User">User</option>
          </select>
        </div>
        <div class="col-6">
          <label class="form-label">Customer Key</label>
          <input type="text" class="form-control" [(ngModel)]="customerKey">
        </div>
        <div class="col-10 mt-3">
          <label class="form-label">Prompt</label>
          <input type="text" class="form-control" [(ngModel)]="prompt">
        </div>
        <div class="col-2 d-flex align-items-end">
          <button type="submit" class="btn btn-primary w-100" (click)="send()" [disabled]="loading"
            (keyup.enter)="send()">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>